.card {
  transition: translate ease-in-out 100ms, box-shadow ease-in-out 100ms;
}

.card:hover,
.card:focus {
  translate: 0 -5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .2);
<<<<<<< HEAD
=======
}
body {
  font-family: 'Roboto', sans-serif; /* Use Google Fonts: Roboto */
  background-color: #f8f9fa; /* Light gray background */
  color: #343a40; /* Dark gray text */
}
h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif; /* Use Poppins for headings */
>>>>>>> f21d6ba (Styling)
}